APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=bowhead
DB_USERNAME=root
DB_PASSWORD=password

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

CACHE_DRIVER=redis
QUEUE_DRIVER=redis

TIMEZONE='America/Los_Angeles'

#
# pairs we want to trade in.
#
PAIRS=ETH-USD,BTC-USD,LTC-USD

#
# Use this link for special referral.
# https://1broker.com/?r=21434
#
ONEBROKER_PAIRS=ALL
ONEBROKER_TOKEN=

#
# Use this link for a 30% bonus on your first deposit!
# https://whaleclub.co/join/tn6uE
#
WHALECLUB_TOKEN=

#
# https://www.oanda.com/
#
OANDA_TOKEN=
OANDA_ACCOUNT=

#
# https://www.coinbase.com/join/51950ca286c21b84dd000021
#
CBKEY=""
CBSECRET=""
CBPASSPHRASE=""
CBURL="https://api.gdax.com"

#
# https://www.bitfinex.com
#
BITFINIX_KEY=
BITFINIX_SECRET=

#
# https://poloniex.com
#
POLONIEX_API=
POLONIEX_SECRET=

#
# Cryptotrader:https://cryptotrader.org/?r=902
#


